html {
  #about {
    nav.eco {
      padding: 0.7em 3em;
      ul {
        @include flexy(wrap);
        gap: 0.7em;
        font-size: 1.25em;
        li {
          position: relative;
          @include flex(0, 1, auto);
          padding: 0 0 0 2em;
          background-size: 12%;
          background-position: left center;
          &:nth-child(2) {
            @include flex(1, 1, 100%);
            padding: 1.5em 0 0 0;
            background-size: contain;
            background-position: center;
          }
          &:first-child {
            margin-left: auto;
          }
        }
      }
    }
    main > section:first-of-type {
      @include flexy();
      font-size: 1.125rem;
      padding: 3.25em 1.5em 2em;
     // align-items: stretch;
      a {
        @include flex(14, 1, 1em);
        display: block;
        @include hide;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      article {
        @include flex(8, 1, 1em);
        h2 {
          font-size: 4em;
          line-height: 1;
        }
        > p {
          font-size: 1em;
          &:first-of-type {
            color: $main;
            font-size: 1.33em;
            margin: 0 0 1em;
          }
        }
        ul {
          font-size: 1em;
        }
      }
    }
    .testimonials {
      font-size: 1.125rem;

      h2 {
        font-size: 3.3em;
        margin: 0;
      }
      article p {
        font-size: 1em;
      }
    }
  }
}
@media only screen and (min-width: 769px) {
  html #about main {
    > section:first-of-type {
      padding: 3.5rem 2rem;
      column-gap: 2em;
      align-items: stretch;

      article h2 {
        font-size: calc(66px + 6 * ((100vw - 769px) / (1280 - 769)));
      }
      > a {
        @include show();
        margin: 0;
      }
    }
    .eco {
      padding: 0.5em 1em;
      padding-left: calc(16px + 140 * ((100vw - 769px) / (1280 - 760)));
      padding-right: calc(16px + 140 * ((100vw - 769px) / (1280 - 760)));
      font-size: 1em;
      //font-size: calc(16px + 2 * ((100vw - 769px) / (1280 - 760)));
      ul {
        @include flexy();
        @include justify(space-between);
        align-items: center;
        li {
          padding: 0.15em 0 0.15em 2.5em;
          &:nth-child(2) {
            @include flex(1, 1, 1em);
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  #about main .testimonials {
    background-size: 50%;
    padding: 1em 2em;
    div article {
      padding: 0 4em;
    }
  }
}


/*
@keyframes kb-bl {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 84%;
  }
  100% {
    transform: scale(1.5) translate(-20px, 15px);
    transform-origin: left bottom;
  }
}
  */