.spandef {
  background-color: rgba(255, 255, 255, 0.2);
}
.spanhi {
  background-color: white;
}

@keyframes services {
  0% {
    margin-left: -0%;
  }
  14% {
    margin-left: -0%;
  }
  17% {
    margin-left: -100%;
  }
  32% {
    margin-left: -100%;
  }
  35% {
    margin-left: -200%;
  }
  49% {
    margin-left: -200%;
  }
  52% {
    margin-left: -300%;
  }
  67% {
    margin-left: -300%;
  }
  70% {
    margin-left: -400%;
  }
  84% {
    margin-left: -400%;
  }
  87% {
    margin-left: -500%;
  }
  100% {
    margin-left: -500%;
  }
}

  @keyframes span1 {
    0% {
      background-color: white;
    }
    17% {
      background-color: white;
    }
    18% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes span2 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    17% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    18% {
      background-color: white;
    }
    34% {
      background-color: white;
    }
    35% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes span3 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    34% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    35% {
      background-color: white;
    }
    51% {
      background-color: white;
    }
    52% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes span4 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    51% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    52% {
      background-color: white;
    }
    68% {
      background-color: white;
    }
    71% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes span5 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    70% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    71% {
      background-color: white;
    }
    87% {
      background-color: white;
    }
    88% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes span6 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    86% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    87% {
      background-color: white;
    }
    100% {
      background-color: white;
    }
  }

  @keyframes services_mid {
    0% {
      margin-left: -0%;
    }
    17% {
      margin-left: -0%;
    }
    20% {
      margin-left: -52%;
    }
    37% {
      margin-left: -52%;
    }
    40% {
      margin-left: -104%;
    }
    57% {
      margin-left: -104%;
    }
    60% {
      margin-left: -156%;
    }
    77% {
      margin-left: -156%;
    }
    80% {
      margin-left: -208%;
    }
    100% {
      margin-left: -208%;
    }
  }

  @keyframes span11 {
    0% {
      background-color: white;
    }
    19% {
      background-color: white;
    }
    20% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes span12 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    19% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    20% {
      background-color: white;
    }
    39% {
      background-color: white;
    }
    40% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes span13 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    39% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    40% {
      background-color: white;
    }
    59% {
      background-color: white;
    }
    60% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes span14 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    59% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    60% {
      background-color: white;
    }
    79% {
      background-color: white;
    }
    80% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes span15 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    79% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    80% {
      background-color: white;
    }
    99% {
      background-color: white;
    }
    100% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes services_max {
    0% {
      margin-left: -0%;
    }
    22% {
      margin-left: -0%;
    }
    25% {
      margin-left: -34.333%;
    }
    47% {
      margin-left: -34.333%;
    }
    50% {
      margin-left: -68.666%;
    }
    72% {
      margin-left: -68.666%;
    }
    75% {
      margin-left: -103%;
    }
    100% {
      margin-left: -103%;
    }
  }

  @keyframes span21 {
    0% {
      background-color: white;
    }
    24% {
      background-color: white;
    }
    25% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes span22 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    25% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    26% {
      background-color: white;
    }
    49% {
      background-color: white;
    }
    50% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes span23 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    50% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    51% {
      background-color: white;
    }
    74% {
      background-color: white;
    }
    75% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  @keyframes span24 {
    0% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    75% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    76% {
      background-color: white;
    }
    99% {
      background-color: white;
    }
    100% {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  @keyframes main {
    5% {
      transform: translateX(-0%);
    }
    6% {
      transform: translateX(-100%);
    }
    11% {
      transform: translateX(-100%);
    }
    12% {
      transform: translateX(-200%);
    }
    17% {
      transform: translateX(-200%);
    }
    18% {
      transform: translateX(-300%);
    }
    23% {
      transform: translateX(-300%);
    }
    24% {
      transform: translateX(-400%);
    }
    29% {
      transform: translateX(-400%);
    }
    30% {
      transform: translateX(-500%);
    }
    35% {
      transform: translateX(-500%);
    }
    36% {
      transform: translateX(-600%);
    }
    41% {
      transform: translateX(-600%);
    }
    42% {
      transform: translateX(-700%);
    }
    47% {
      transform: translateX(-700%);
    }
    48% {
      transform: translateX(-800%);
    }
    53% {
      transform: translateX(-800%);
    }
    54% {
      transform: translateX(-900%);
    }
    59% {
      transform: translateX(-900%);
    }
    60% {
      transform: translateX(-1000%);
    }
    65% {
      transform: translateX(-1000%);
    }
    66% {
      transform: translateX(-1100%);
    }
    71% {
      transform: translateX(-1100%);
    }
    72% {
      transform: translateX(-1200%);
    }
    77% {
      transform: translateX(-1200%);
    }
    78% {
      transform: translateX(-1300%);
    }
    83% {
      transform: translateX(-1300%);
    }
    84% {
      transform: translateX(-1400%);
    }
    89% {
      transform: translateX(-1400%);
    }
    90% {
      transform: translateX(-1500%);
    }
    95% {
      transform: translateX(-1500%);
    }
    96% {
      transform: translateX(-1600%);
    }
    100% {
      transform: translateX(-1600%);
    }
  }

  @keyframes testi {
    22% {
      margin-left: -0%;
    }
    25% {
      margin-left: -100%;
    }
    47% {
      margin-left: -100%;
    }
    50% {
      margin-left: -200%;
    }
    72% {
      margin-left: -200%;
    }
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }

  @keyframes gallery {
    0% {
      transform: scale(80%);
    }

    100% {
      transform: scale(100%);
    }
  }
