.spandef {
  background-color: $lo;
}
.spanhi {
  background-color: $hi;
}

@keyframes services {
  0% {
    margin-left: -0%;
  }
  14% {
    margin-left: -0%;
  }
  17% {
    margin-left: -100%;
  }
  32% {
    margin-left: -100%;
  }
  35% {
    margin-left: -200%;
  }
  49% {
    margin-left: -200%;
  }
  52% {
    margin-left: -300%;
  }
  67% {
    margin-left: -300%;
  }
  70% {
    margin-left: -400%;
  }
  84% {
    margin-left: -400%;
  }
  87% {
    margin-left: -500%;
  }
  100% {
    margin-left: -500%;
  }
}

  @keyframes span1 {
    0% {
      background-color: $hi;
    }
    17% {
      background-color: $hi;
    }
    18% {
      background-color: $lo;
    }
  }

  @keyframes span2 {
    0% {
      background-color: $lo;
    }
    17% {
      background-color: $lo;
    }
    18% {
      background-color: $hi;
    }
    34% {
      background-color: $hi;
    }
    35% {
      background-color: $lo;
    }
  }

  @keyframes span3 {
    0% {
      background-color: $lo;
    }
    34% {
      background-color: $lo;
    }
    35% {
      background-color: $hi;
    }
    51% {
      background-color: $hi;
    }
    52% {
      background-color: $lo;
    }
  }

  @keyframes span4 {
    0% {
      background-color: $lo;
    }
    51% {
      background-color: $lo;
    }
    52% {
      background-color: $hi;
    }
    68% {
      background-color: $hi;
    }
    71% {
      background-color: $lo;
    }
  }

  @keyframes span5 {
    0% {
      background-color: $lo;
    }
    70% {
      background-color: $lo;
    }
    71% {
      background-color: $hi;
    }
    87% {
      background-color: $hi;
    }
    88% {
      background-color: $lo;
    }
  }

  @keyframes span6 {
    0% {
      background-color: $lo;
    }
    86% {
      background-color: $lo;
    }
    87% {
      background-color: $hi;
    }
    100% {
      background-color: $hi;
    }
  }

  @keyframes services_mid {
    0% {
      margin-left: -0%;
    }
    17% {
      margin-left: -0%;
    }
    20% {
      margin-left: -52%;
    }
    37% {
      margin-left: -52%;
    }
    40% {
      margin-left: -104%;
    }
    57% {
      margin-left: -104%;
    }
    60% {
      margin-left: -156%;
    }
    77% {
      margin-left: -156%;
    }
    80% {
      margin-left: -208%;
    }
    100% {
      margin-left: -208%;
    }
  }

  @keyframes span11 {
    0% {
      background-color: $hi;
    }
    19% {
      background-color: $hi;
    }
    20% {
      background-color: $lo;
    }
  }

  @keyframes span12 {
    0% {
      background-color: $lo;
    }
    19% {
      background-color: $lo;
    }
    20% {
      background-color: $hi;
    }
    39% {
      background-color: $hi;
    }
    40% {
      background-color: $lo;
    }
  }

  @keyframes span13 {
    0% {
      background-color: $lo;
    }
    39% {
      background-color: $lo;
    }
    40% {
      background-color: $hi;
    }
    59% {
      background-color: $hi;
    }
    60% {
      background-color: $lo;
    }
  }

  @keyframes span14 {
    0% {
      background-color: $lo;
    }
    59% {
      background-color: $lo;
    }
    60% {
      background-color: $hi;
    }
    79% {
      background-color: $hi;
    }
    80% {
      background-color: $lo;
    }
  }

  @keyframes span15 {
    0% {
      background-color: $lo;
    }
    79% {
      background-color: $lo;
    }
    80% {
      background-color: $hi;
    }
    99% {
      background-color: $hi;
    }
    100% {
      background-color: $lo;
    }
  }

  @keyframes services_max {
    0% {
      margin-left: -0%;
    }
    22% {
      margin-left: -0%;
    }
    25% {
      margin-left: -34.333%;
    }
    47% {
      margin-left: -34.333%;
    }
    50% {
      margin-left: -68.666%;
    }
    72% {
      margin-left: -68.666%;
    }
    75% {
      margin-left: -103%;
    }
    100% {
      margin-left: -103%;
    }
  }

  @keyframes span21 {
    0% {
      background-color: $hi;
    }
    24% {
      background-color: $hi;
    }
    25% {
      background-color: $lo;
    }
  }

  @keyframes span22 {
    0% {
      background-color: $lo;
    }
    25% {
      background-color: $lo;
    }
    26% {
      background-color: $hi;
    }
    49% {
      background-color: $hi;
    }
    50% {
      background-color: $lo;
    }
  }


  @keyframes span23 {
    0% {
      background-color: $lo;
    }
    50% {
      background-color: $lo;
    }
    51% {
      background-color: $hi;
    }
    74% {
      background-color: $hi;
    }
    75% {
      background-color: $lo;
    }
  }
  @keyframes span24 {
    0% {
      background-color: $lo;
    }
    75% {
      background-color: $lo;
    }
    76% {
      background-color: $hi;
    }
    99% {
      background-color: $hi;
    }
    100% {
      background-color: $lo;
    }
  }

  @keyframes looper {
    5% {
      transform: translateX(-0%);
    }
    6% {
      transform: translateX(-100%);
    }
    11% {
      transform: translateX(-100%);
    }
    12% {
      transform: translateX(-200%);
    }
    17% {
      transform: translateX(-200%);
    }
    18% {
      transform: translateX(-300%);
    }
    23% {
      transform: translateX(-300%);
    }
    24% {
      transform: translateX(-400%);
    }
    29% {
      transform: translateX(-400%);
    }
    30% {
      transform: translateX(-500%);
    }
    35% {
      transform: translateX(-500%);
    }
    36% {
      transform: translateX(-600%);
    }
    41% {
      transform: translateX(-600%);
    }
    42% {
      transform: translateX(-700%);
    }
    47% {
      transform: translateX(-700%);
    }
    48% {
      transform: translateX(-800%);
    }
    53% {
      transform: translateX(-800%);
    }
    54% {
      transform: translateX(-900%);
    }
    59% {
      transform: translateX(-900%);
    }
    60% {
      transform: translateX(-1000%);
    }
    65% {
      transform: translateX(-1000%);
    }
    66% {
      transform: translateX(-1100%);
    }
    71% {
      transform: translateX(-1100%);
    }
    72% {
      transform: translateX(-1200%);
    }
    77% {
      transform: translateX(-1200%);
    }
    78% {
      transform: translateX(-1300%);
    }
    83% {
      transform: translateX(-1300%);
    }
    84% {
      transform: translateX(-1400%);
    }
    89% {
      transform: translateX(-1400%);
    }
    90% {
      transform: translateX(-1500%);
    }
    95% {
      transform: translateX(-1500%);
    }
    96% {
      transform: translateX(-1600%);
    }
    100% {
      transform: translateX(-1600%);
    }
  }

  @keyframes testo {
    22% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-100%);
    }
    47% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    72% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-300%);
    }
  }

  @keyframes testnojs {
    22% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(calc(-100% + 3rem));
    }
    47% {
      transform: translateX(calc(-100% + 3rem));
    }
    50% {
      transform: translateX(-200%);
    }
    72% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-300%);
    }
  }

  @keyframes gallery {
    0% {
      transform: scale(80%);
    }

    100% {
      transform: scale(100%);
    }
  }


/* ----------------------------------------------
 * Generated by Animista on 2020-11-25 9:5:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 @keyframes kb-t {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}

@keyframes kb-tr {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 16%;
  }
  100% {
    transform: scale(1.25) translate(20px, -15px);
    transform-origin: right top;
  }
}
@keyframes kb-r {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 50%;
  }
  100% {
    transform: scale(1.25) translateX(20px);
    transform-origin: right;
  }
}
@keyframes kb-br {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 84%;
  }
  100% {
    transform: scale(1.25) translate(20px, 15px);
    transform-origin: right bottom;
  }
}
@keyframes kb-b {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
  }
  100% {
    transform: scale(1.25) translateY(15px);
    transform-origin: bottom;
  }
}
@keyframes kb-bl {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 84%;
  }
  100% {
    transform: scale(1.25) translate(-20px, 15px);
    transform-origin: left bottom;
  }
}
@keyframes kb-l {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 50%;
  }
  100% {
    transform: scale(1.25) translate(-20px, 15px);
    transform-origin: left;
  }
}
@keyframes kb-tl {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 16%;
  }
  100% {
    transform: scale(1.25) translate(-20px, -15px);
    transform-origin: top left;
  }
}
@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

/*
Source - https://stackoverflow.com/a
Posted by Temani Afif, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-21, License - CC BY-SA 4.0
*/

@keyframes snowflakes-fall {
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  50% {
    transform: translateX(80px);
  }
}
.snowflakes {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 9999;
  pointer-events:none;
}
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  flex: 1;
  position: relative;
  top: -10%;
  animation: snowflakes-fall 10s linear, snowflakes-shake 3s ease-in-out;
  animation-delay: var(--d);
  animation-iteration-count: 2;
}
