@font-face {
  font-family: "Crimson";
  src: url("../font/Crimson-Bold.woff2") format("woff2"),
    url("../font/Crimson-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Handwritten";
  src: url("../fonts/AlexBrush-Regular.ttf") format("truetype");
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.4;
  font-size: 0.875rem;
}

h1,
h2 {
  font-family: "Crimson", "Times New Roman", Times, serif;
}

section {
  padding: 0;
  article {
    ul {
      list-style: disc;
      padding: 1em;
      line-height: 1.5;
      margin: 0 0 0 3em;
    }
    h1,
    h2 {
      color: $main;
      font-size: 2.6em;
      line-height: 1;
    }
    h4 {
      font-size: 1.3em;
      margin: 1em 0;
    }
  }
  &:first-child aside {
    figure {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 10.5em;
      &:first-child {
        background-image: url("../images/IMG_1477.jpg");
      }
      &:nth-child(2) {
        background-image: url("../images/IMG_0556.jpg");
      }
      &:nth-child(3) {
        background-image: url("../images/IMG_1478.jpg");
      }
      &:nth-child(4) {
        background-image: url("../images/IMG_0229.jpg");
      }
      &:nth-child(5) {
        background-image: url("../images/IMG_1531.jpg");
        background-position: center 55%;
      }
      &:nth-child(6) {
        background-image: url("../images/IMG_1530.jpg");
      }
      &:nth-child(7) {
        background-image: url("../images/IMG_1485.jpg");
        background-position: center 60%;
      }
      &:nth-child(8) {
        background-image: url("../images/IMG_1478.jpg");
      }
      &:nth-child(9) {
        background-image: url("../images/IMG_1442.jpg");
        background-position: center 70%;
      }
      &:nth-child(10) {
        background-image: url("../images/IMG_1395.jpg");
        background-position: center 80%;
      }
      &:nth-child(11) {
        background-image: url("../images/IMG_0558.jpg");
      }
      &:nth-child(12) {
        background-image: url("../images/IMG_0388.jpg");
      }
      &:nth-child(13) {
        background-image: url("../images/IMG_0324.jpg");
        background-position: center 55%;
      }
      &:nth-child(14) {
        background-image: url("../images/IMG_0311.jpg");
      }
      &:nth-child(15) {
        background-image: url("../images/20241114_094758.jpg");
        background-position: center 60%;
      }
      &:nth-child(16) {
        background-image: url("../images/20241104_131502.jpg");
        background-position: center 65%;
      }
      &:nth-child(17) {
        background-image: url("../images/10PLTMGGEh8.jpg");
        background-position: center 60%;
      }
    }
  }
  &:nth-child(2) p:first-child {
    color: $main;
    font-size: 1.3em;
    margin: 0 0 1em;
  }
  &.services {
    padding: 0.7em 2em 2em;
    background-color: $main;
    text-align: center;
    h2 {
      color: $bg;
      font-size: 2.3em;
      margin: 0 0 0.5em;
    }
    article {
      background-color: $bg;
      margin: 0;
      padding: 0 0 4em;
      p {
        padding: 0 4em;
      }
      > aside {
        width: 100%;
        height: 12em;
        background-color: pink;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      h3 {
        color: $main;
        margin: 1em 0;
      }

      &:nth-of-type(1) > aside {
        background-image: url("../assets/lawn.jpeg");
        background-position: 0 top;
      }
      &:nth-of-type(2) > aside {
        background-image: url("../images/IMG_1478.jpg");
      }
      &:nth-of-type(3) > aside {
        background-image: url("../assets/weeding.jpeg");
      }
      &:nth-of-type(4) > aside {
        background-image: url("../assets/pruning.jpeg");
      }

      &:nth-of-type(5) > aside {
        background-image: url("../assets/hedge.jpeg");
      }
      &:nth-of-type(6) > aside {
        background-image: url("../assets/tidy.jpeg");
      }
    }
  }
  &.testimonials {
    font-size: 0.875em;
    line-height: 1.6;
    h2 {
      font-size: 2.5em;
      margin: 0 0 .5em;
    }
    color: $main;
    background-image: url("../assets/Speechmarks-green10.png");
    background-color: $bg;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50% 70%;
    p {
      margin: 0 0 1em;
      font-style: italic;
    }
  }
}
.mission article p:first-child {
  font-family: "Handwritten", cursive;
  text-align: center;
  color: $main;
  font-size: 1.3em;
  //font-size: calc(16px + 2 * ((100vw - 1025px) / (1280 - 1025)));
}

main > footer {
  background-color: $main;
  padding: 1em;
  color: white;
  font-size: 0.875rem;
  section:first-child {
    background-color: $main;
    padding: 0;
    p:before {
      width: 4vw;
      height: 4vw;
      width: 1.5em;
      height: 1.5em;
      overflow: hidden;
      display: block;
      margin-right: 5px;
      background-color: white;
      border-radius: 50%;
      content: url("../assets/mail_trans.svg");
      background-color: $main;
    }
    p:nth-child(2) {
      @include flex(1, 1, 100%);
      &:before {
        content: url("../assets/mobile_tran.svg");
        background-color: $main;
      }
    }
    p:nth-child(3) {
      &:before {
        content: url("../assets/whatsapp_trans.svg");
        background-color: $main;
      }
    }
    p:nth-child(4) {
      color: $main;
      &:before {
        content: url("../assets/instagram_trans.svg");
        margin: 0 0.66em;
        background-color: $main;
      }
    }
    p:nth-child(5) {
      color: $main;
      &:before {
        content: url("../assets/linkedin_trans.svg");
        background-color: $main;
      }
    }
  }
  nav {
    font-size: 0.625rem;
    a:link,
    a:visited {
      color: $bg;
    }
    a:hover,
    a:active {
      color: white;
    }
  }
}
body > div > footer {
  ul {
    font-size: 0.625rem;
    a:link,
    a:visited {
      color: $bg;
    }
    a:hover,
    a:active {
      color: white;
    }
  }
}
@media only screen and (min-width: 1025px) {
  .mission article p:first-child {
    font-size: calc(24px + 2 * ((100vw - 1025px) / (1280 - 1025)));
  }
}
