@font-face {
  font-family: "Crimson";
  src: url("../font/Crimson-Bold.woff2") format("woff2"),
    url("../font/Crimson-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;

}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.4;
}

h1,
h2 {
  font-family: "Crimson", "Times New Roman", Times, serif;
}

section {
  padding: 0;
  article {
    ul {
      list-style: disc;
      padding: 1em;
      line-height: 1.5;
      margin: 0 0 0 3em;
    }
    h1,
    h2 {
      color: $main;
      font-size: 2.6em;
      line-height: 1;
    }
    h4 {
      font-size: 1.25em;
      margin: 1em 0;
    }
  }
  &:first-child article aside {
    figure {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 10.5em;
      &:first-child {
        background-image: url("../images/IMG_1477.jpg");
      }
      &:nth-child(2) {
        background-image: url("../images/IMG_0556.jpg");
      }
      &:nth-child(3) {
        background-image: url("../images/IMG_1478.jpg");
      }
      &:nth-child(4) {
        background-image: url("../images/IMG_0229.jpg");
      }
      &:nth-child(5) {
        background-image: url("../images/IMG_1531.jpg");
        background-position: center 55%;
      }
      &:nth-child(6) {
        background-image: url("../images/IMG_1530.jpg");
      }
      &:nth-child(7) {
        background-image: url("../images/IMG_1485.jpg");
        background-position: center 60%;
      }
      &:nth-child(8) {
        background-image: url("../images/IMG_1478.jpg");
      }
      &:nth-child(9) {
        background-image: url("../images/IMG_1442.jpg");
        background-position: center 70%;
      }
      &:nth-child(10) {
        background-image: url("../images/IMG_1395.jpg");
        background-position: center 80%;
      }
      &:nth-child(11) {
        background-image: url("../images/IMG_0558.jpg");
      }
      &:nth-child(12) {
        background-image: url("../images/IMG_0388.jpg");
      }
      &:nth-child(13) {
        background-image: url("../images/IMG_0324.jpg");
        background-position: center 55%;
      }
      &:nth-child(14) {
        background-image: url("../images/IMG_0311.jpg");
      }
      &:nth-child(15) {
        background-image: url("../images/20241114_094758.jpg");
        background-position: center 60%;
      }
      &:nth-child(16) {
        background-image: url("../images/20241104_131502.jpg");
        background-position: center 65%;
      }
      &:nth-child(17) {
        background-image: url("../images/10PLTMGGEh8.jpg");
        background-position: center 60%;
      }
    }
  }
  &:nth-child(2) p:first-child {
    color: $main;
    font-size: 1.3em;
    margin: 0 0 1em;
  }
  &.services {
    padding: 0.7em 2em 2em;
    background-color: $main;
    text-align: center;
    h2 {
      color: $bg;
      font-size: 2.3em;
      margin: 0 0 0.5em;
    }
    article {
      background-color: $bg;
      margin: 0;
      padding: 0 0 4em;
      p {
        padding: 0 4em;
      }
      > aside {
        width: 100%;
        height: 12em;
        background-color: pink;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      h3 {
        color: $main;
        margin: 0 0 1em;
      }

      &:nth-of-type(1) > aside {
        background-image: url("../assets/lawn.jpeg");
        background-position: 0 top;
      }
      &:nth-of-type(2) > aside {
        background-image: url("../images/IMG_1478.jpg");
      }
      &:nth-of-type(3) > aside {
        background-image: url("../assets/weeding.jpeg");
      }
      &:nth-of-type(4) > aside {
        background-image: url("../assets/pruning.jpeg");
      }

      &:nth-of-type(5) > aside {
        background-image: url("../assets/hedge.jpeg");
      }
      &:nth-of-type(6) > aside {
        background-image: url("../assets/tidy.jpeg");
      }
    }
  }
  &.testimonials {
    h2 {
      font-size: 2em;
      line-height: 1;
    }
    color: $main;
    background-image: url("../assets/Speechmarks-green10.png");
    background-color: $bg;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 70%;
    p {
      margin: 0 0 1em;
    }
  }
}

main > footer {
  background-color: $main;
  padding: 1em;
  color: white;
  section:first-child {
    background-color: $main;
    padding: 0;
    font-size: 0.8em;
    p:before {
      width: 1.8em;
      height: 1.8em;
      overflow: hidden;
      display: block;
      margin-right: 5px;
      background-color: white;
      border-radius: 50%;
      content: url("../assets/mail.svg");
    }
    p:nth-child(2) {
      @include flex(1, 1, 100%);
      &:before {
        content: url("../font/mobile.svg");
        background-color: green;
      }
    }
    p:nth-child(3) {
      &:before {
        content: url("../assets/whatsapp.svg");
       
      }
    }
    p:nth-child(4) {
      color: $main;
      &:before {
        content: url("../assets/instagram.svg");
        margin: 0 0.66em;
      }
    }
    p:nth-child(5) {
      color: $main;
      &:before {
        content: url("../assets/linkedin.svg");
      }
    }
  }
}
