html {
  #home {
    section:first-child {
      padding: 1rem;
      line-height: 1.6;

      #anim1:checked ~ label[for="anim1"] {
        opacity: .5;
        color: limegreen;
        &:after {
          content: "||";
        }

        &:hover {
          color: white;
          opacity: 1;
        }
      }

      label[for="anim1"] {
        position: absolute;
        right: 0;
        top: auto;
        z-index: 3;
        color: yellow;
        display: block;
        padding: 0 1em;
        font-size: 2em;
        border: solid 1px sandybrown;
        cursor: pointer;
        text-shadow: 2px 2px 2px black;
        &:hover {
          color: white;
        }
        &:after {
          content: ">";
        }
      }

      aside {
        @include flexy();
        overflow-x: hidden;
        figure {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          @include flex(0, 0, 100%);
          //@include flexy();
          height: 0;
          --h: 9;
          --w: 16;
          position: relative;
          display: block;
          padding-bottom: calc(var(--h) / var(--w) * 100%);

          &:first-child {
            background-image: url("../images/IMG_1477.jpg");
          }
          &:nth-child(2) {
            background-image: url("../images/IMG_0556.jpg");
          }
          &:nth-child(3) {
            background-image: url("../images/IMG_1478.jpg");
          }
          &:nth-child(4) {
            background-image: url("../images/IMG_0229.jpg");
          }
          &:nth-child(5) {
            background-image: url("../images/IMG_1531.jpg");
            background-position: center 55%;
          }
          &:nth-child(6) {
            background-image: url("../images/IMG_1530.jpg");
          }
          &:nth-child(7) {
            background-image: url("../images/IMG_1485.jpg");
            background-position: center 60%;
          }
          &:nth-child(8) {
            background-image: url("../images/IMG_1478.jpg");
          }
          &:nth-child(9) {
            background-image: url("../images/IMG_1442.jpg");
            background-position: center 70%;
          }
          &:nth-child(10) {
            background-image: url("../images/IMG_1395.jpg");
            background-position: center 80%;
          }
          &:nth-child(11) {
            background-image: url("../images/IMG_0558.jpg");
          }
          &:nth-child(12) {
            background-image: url("../images/IMG_0388.jpg");
          }
          &:nth-child(13) {
            background-image: url("../images/IMG_0324.jpg");
            background-position: center 55%;
          }
          &:nth-child(14) {
            background-image: url("../images/IMG_0311.jpg");
          }
          &:nth-child(15) {
            background-image: url("../images/20241114_094758.jpg");
            background-position: center 60%;
          }
          &:nth-child(16) {
            background-image: url("../images/20241104_131502.jpg");
            background-position: center 65%;
          }
          &:nth-child(17) {
            background-image: url("../images/10PLTMGGEh8.jpg");
            background-position: center 60%;
          }
        }
      }
      article {
        h1 {
          font-size: 2.6em;
          line-height: 1;
        }
        h4 {
          font-size: 1.29em;
          margin: 0.5em 0;
        }
      }
    }

    section:first-child {
      aside {
        figure {
          @include prefix(
            animation,
            mainy 90s ease-in-out 500ms infinite reverse backwards,
            o moz webkit
          );
        }
      }
    }

    .mission {
      padding: 1rem;
      article p:first-child {
        font-family: "Handwritten", cursive;
        text-align: center;
        color: $main;
        font-size: 1.3em;
        //font-size: calc(16px + 2 * ((100vw - 1025px) / (1280 - 1025)));
      }
    }
  }
  #player {
    aside {
      figure {
        @include prefix(
          animation,
          mainy 90s ease-in-out 500ms infinite reverse backwards,
          o moz webkit
        );
      }
    }

    &.pause {
      aside {
        figure {
          filter: brightness(50%);
          @include prefix(animation, none, o moz webkit);
        }
        &:first-child {
          margin-left: -100%;
        }
      }
    }
  }

  &.js #home {
    #player {
      aside {
        figure {
          @include prefix(animation, none, o moz webkit);

          &:first-child {
            margin-left: -100%;
            transition: margin 500ms ease-in-out 3.5s;
          }
        }
        &.mv {
          figure:first-child {
            margin-left: 0%;
          }
        }
        &.pause {
          filter: brightness(0.4);
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  html #home main > {
    section:first-of-type {
      padding: 3rem 1.2rem;
      column-gap: 2rem;
      display: grid;
      grid-template-columns: (62% 1fr);
      aside {
        order: 2;
        grid-column: 2/3;
        figure {
          min-height: 100%;
          width: 100%;
        }
      }
      article {
        margin: 0;
        grid-column: 1/2;
        @include flexy();
        flex-direction: column;
        @include justify();
        > * {
          @include flex(0, 0, auto);
          @include justify(start);
        }
        button {
          align-self: start;
          margin: 1.5em 0 0;
        }
      }
    }
  }
}
@media only screen and (min-width: 769px) {
  #home main > section:first-child {
    font-size: 1.005rem;

    article {
      h1 {
        font-size: 3.88em;
      }
      h4 {
        font-size: 1.6225em;
      }
    }
  } //h
}

@media only screen and (min-width: 820px) {
  html {
    #home main > {
      section:first-child {
        @include flexy();
        article {
          @include justify(center);
          @include flex(7, 1, 1em);
        }
        aside {
          @include flex(4, 1, 1em);
          figure {
            --h: 24;
            //padding-bottom: calc(var(--h) / var(--w) * 100%);
            // height: calc(525px + 155 * ((100vw - 820px) / (1280 - 820)));
          }
        }
      }
    }
  }
}
