@keyframes autoplay {
  .1% {
    --img-animps: running;
    opacity: 0;
    z-index: calc(var(--z) + var(--slides));
  }
  5% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  71% {
    --img-animps: paused;
  }
  100% {
    opacity: 0;
    z-index: var(--z);
  }
}

html {
  #home {
    #player {
      padding: 1rem;
      min-height: 100%;
      line-height: 1.6;
      position: relative;

      label[for="anim1"] {
        z-index: 123;
        display: block;
        cursor: pointer;
        position: absolute;
        right: 1.4rem;
        top: 1.4rem;
        width: 36px;
        height: 36px;
        border-style: double;
        border-width: 0 0 0 24px;
        border-color: rgba(255, 255, 255, 0.5);
        &:hover {
          border-color: transparent transparent transparent
            rgba(255, 255, 255, 1);
        }
      }
      //default state is to play, checked pauses
      #anim1:checked {
        ~ label[for="anim1"] {
          width: auto;
          height: auto;
          border-style: solid;
          border-width: 18px 0px 18px 36px;
          border-color: transparent transparent transparent
            rgba(255, 255, 255, 0.5);
          &:hover {
            border-color: transparent transparent transparent
              rgba(255, 255, 255, 1);
          }
        }
        ~ aside figure {
          --animps: paused;
          --img-animps: paused !important;
        }
      }
      aside {
        overflow: hidden;
        position: relative;
        height: 10rem;

        > figure {
          animation: autoplay var(--animdur) infinite;
          animation-delay: calc((var(--index) * var(--animdur)) / 16);
          animation-play-state: var(--animps);
          position: absolute;
          opacity: 0;
          width: 100%;
          will-change: opacity;
          &:first-child {
            opacity: 1;
          }

          img {
            animation-direction: alternate;
            animation-duration: calc(var(--animdur) / 2);
            //animation-duration: var(--animdur);
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            animation-name: var(--animn);
            animation-play-state: var(--img-animps);
            animation-timing-function: var(--animtf);
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: var(--x, 50%) var(--y, 50%);
            will-change: transform;
          }
        }
      }
      article {
        h1 {
          font-size: 2.6em;
          line-height: 1;
        }
        h4 {
          font-size: 1.29em;
          margin: 0.5em 0;
        }
      }

      &.c-mm {
        --index: 0;
        --animdur: 64000ms;
        --animps: paused;
        --img-animps: paused;
        --slides: 16;
        --animtf: ease-out;
        --z: 100;
      }

      &:hover {
        #anim1:checked ~ label[for="anim1"] {
          opacity: 1;
        }
      }
      //default state but extra specificity
      #anim1:not(:checked) ~ aside figure {
        --animps: running;
        --img-animps: running;
      }
    }

    .mission {
      padding: 1rem;
      article p:first-child {
        font-family: "Trebuchet", cursive;
        text-align: center;
        color: $main;
        font-size: 1.3em;
        //font-size: calc(16px + 2 * ((100vw - 1025px) / (1280 - 1025)));
      }
    }

    &.pause {
      aside {
        figure {
          filter: brightness(50%);
          @include prefix(animation, none, o moz webkit);
        }
        &:first-child {
          margin-left: -100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  html #home main > {
    #player {
      padding: 3rem;
      column-gap: 2rem;
      @include flexy();

      label[for="anim1"] {
        right: 3.6rem;
        top: 3.6rem;
      }
      aside {
        height: auto;
      }

      article {
        margin: 0;
        @include flexy();
        flex-direction: column;
        @include justify();
        > * {
          @include flex(0, 0, auto);
          @include justify(start);
        }
        button {
          align-self: start;
          margin: 1.5em 0 0;
        }
      }
    }
  }
}
@media only screen and (min-width: 769px) {
  #home {
    main > #player {
      font-size: 1.005rem;
      article {
        h1 {
          font-size: 3.88em;
        }
        h4 {
          font-size: 1.6225em;
        }
      }
    }
  }

  #home {
    header nav {
      ul {
        li {
          a {
            border: solid 1px white;
            color: $main;
            background-color: $bg;
           
          }
          &:first-child a {
            color: saddlebrown;
            border-color: $bg;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 820px) {
  html {
    #home main > {
      #player {
        @include flexy();
        article {
          @include justify(center);
          @include flex(7, 1, 1em);
        }
        aside {
          @include flex(4, 1, 1em);
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  html {
    #home main > {
      #player {
        padding: 3rem 1.5rem;

        label[for="anim1"] {
          right: 2rem;
        }
        article {
          margin: 8rem 0;
        }
      }
    }
  }
}
