body > div {
  @include flexy;
  min-height: 100vh;
  flex-direction: column;
  > main {
    @include flex(5, 0, auto);
  }

  > header {
    padding: 1rem;
    @include flexy(wrap);
    @include justify(space-between);
    h1 {
      text-indent: 100%;
      font-size: 1px;
      overflow: hidden;
      white-space: nowrap;
      color: white;
      @include flex(1, 1, 100%);
    }
    > div {
      width: 120px;
      height: 126.7px;
      svg path {
        fill: hsl(136, 51%, 20%) !important;
      }
    }
    input {
      display: none;
    }

    label {
      position: absolute;
      top: 1em;
      right: 2.2em;
      width: 2em;
      height: 2em;
      text-indent: -10em;
      overflow: hidden;
      background-image: url("../assets/menu.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    input:checked ~ nav ul {
      position: absolute;
      z-index: 1;
      left: calc(100% - 6em);
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 1px 1px 4px $main;
      max-height: 11.9em;
    }
  }
  > footer {
    @include flex(1, 0, 1em);
  }
}

section {
  padding: 1rem;
  article {
    button {
      border-radius: 4px;
      border-width: 0;
      padding: 0.7em 1.2em;
      margin: 1.5em 0 0.5em;
      background-color: $main;
      color: white;
      a {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

.eco {
  background-color: $main;
  color: $bg;
  padding: 1em;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-height: 2;
    li {
      display: inline;
      padding: 0.15em 1.9em;
      &:first-child {
        background: url("../assets/smiley.png") no-repeat 0 0 / contain;
      }
      &:nth-child(2) {
        overflow: hidden;
        height: 0;
        padding: 1.35em 0 0 0;
        display: block;
        background: url("../assets/rhs.svg") no-repeat center/contain;
      }
      &:last-child {
        background: url("../assets/eco.png") no-repeat 0 0 / contain;
      }
    }
  }
}
main > footer {
  nav {
    ul li {
      display: inline-block;
      margin-right: 1.6em;
    }
  }
  .payment {
    @include flexy();
    margin: 0;
    padding: 0.5em 0;
    div {
      //@include flex(0,0,auto);
      min-width: 2.8em;
      height: 2.15em;
      width: 2.8em;
      margin: 0 0.5em 0 0;
      border-radius: 4px;
      overflow: hidden;
      &:last-child {
        margin: 0;
      }
    }
  }
}

body > div > main {
  > footer {
    background-color: $main;
    padding: 1.3em 1.3em 2.5em;
    color: white;
    section.contact {
      padding: 0;
    }
  }
  section.contact {
    padding: 1.3em 1.3em 2.5em;

    @include flexy(wrap);
    p {
      @include flexy();
      margin: 0 0 0.66em;
    }
  }

  & + footer {
    background-color: black;
    padding: 5em;
    color: white;
    font-size: 0.5em;
    text-align: center;
    ul {
      @include flexy(wrap);
      @include justify(center);
      li {
        margin: 0 0.4em;
      }
    }
  }
}

section > aside {
  margin: 0 0 1.2em;
  > a {
    display: block;
    img {
      width: 100%;
      display: block;
    }
  }
}

.testimonials {
  text-align: center;
  padding: 1em 3.7em 1em;
  div {
    @include flexy();
    overflow-x: hidden;
    position: relative;
    article {
      @include flex(0, 0, 100%);
      @include flexy();
      flex-direction: column;
      &:first-child {
        @include prefix(
          animation,
          testi 28s ease-in 1s infinite normal forwards,
          o moz webkit
        );
      }
      p {
        margin: auto;
      }
    }
  }
}

section.services {
  > div {
    @include flexy();
    overflow: hidden;
    article {
      @include flex(0, 0, 100%);
      //transition: transform 1s 4s;
      //transform: translateX(-100%);
    }
  }

  & + div {
    font-size: 4em;
    color: white;
    background-color: $main;
    text-align: center;
    @include flexy();
    @include justify(space-around);
    padding: 0.2em 230px;
    padding-left: calc(230px + 270 * ((100vw - 550px) / (1280 - 550)));
    padding-right: calc(230px + 270 * ((100vw - 550px) / (1280 - 550)));
    margin-top: -1px;
    span {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

@media only screen and (min-width: 769px) {
  body > div > header > div {
    width: 158px;
    height: 167px;
  }

  section.services div {
    @include flexy();
    column-gap: 4%;
    overflow: hidden;
    font-size: 1.2rem;
    article {
      @include flex(1, 0, 48%);
      p {
        padding: 0 2em;
      }
    }
  }

  section:first-child {
    @include flexy(wrap);
    column-gap: 1em;
    padding-top: calc(30px + 30 * ((100vw - 769px) / (1280 - 769)));
    padding-bottom: calc(30px + 20 * ((100vw - 769px) / (1280 - 769)));
    article {
      font-size: 1.15em;
      @include flex(7, 1, 10em);
      margin-top: calc(40px + 100 * ((100vw - 769px) / (1280 - 769)));
      margin-bottom: calc(40px + 100 * ((100vw - 769px) / (1280 - 769)));
      h1 {
        font-size: 4em;
      }
    }
    aside {
      @include flex(3, 1, 10em);
      order: 2;
      figure {
        height: 100%;
      }
    }
    footer {
      @include flex(0, 0, 100%);
      order: 3;
    }
  }

  main:first-of-type {
    footer {
      background: $main url("../assets/Green-George-logo-beige.svg") no-repeat
        95% 70%/12%;
      font-size: 1.125rem;
      section.contact {
        display: grid;
        gap: 0;
        grid-template-columns: repeat(8, 6.5%);
        grid-template-columns: 3em 7em 3em 3em 3em 5em 8em 1fr;
        p {
          grid-column: span 1;
          &:before {
            width: 2em;
            height: 2em;
            margin-right: 1em;
            display: block;
          }
          &:nth-child(-n+2){
            grid-row: 1/2;
          }

          &:nth-child(1){
            grid-column: span 5;
          }
          &:nth-child(2){
            grid-column: span 2;
          }

          &:nth-last-child(-n+3){
            grid-row: 2/3;
          }
          &:nth-child(3){
            grid-column: span 2;
          }
          &:nth-child(4):before{
            margin: 0;
          }

        }
      }
      section.payment {
        font-size: 1.8rem;
        & + nav {
          font-size: 1.05rem;
        }
      }
    }
    section.testimonials {
      font-size: 1.125rem;
      h2 {
        font-size: 3.3em;
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  body > div > header {
    align-items: end;
    padding: 1rem 1rem 2rem;
    label {
      @include hide;
    }
    nav {
      ul {
        @include flexy();
        @include justify();
        @include show();
        max-height: 100%;
      }
    }
  }
  .eco {
    padding: 1em 15%;
    font-size: calc(16px + 2 * ((100vw - 1025px) / (1280 - 1025)));
    ul {
      @include flexy();
      @include justify(space-between);
      align-items: center;
      li {
        padding: 0.15em 0 0.15em 2.5em;
        &:nth-child(2) {
          @include flex(3, 1, 1em);
        }
      }
    }
  }
  section.services div {
    @include flexy();
    column-gap: 3%;
    overflow: hidden;
    article {
      @include flex(1, 0, 31.333%);
    }
  }

}
