header {
  padding: 1rem;
  @include flexy(wrap);
  @include justify(space-between);
  h1 {
    text-indent: 100%;
    font-size: 1px;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    @include flex(1, 1, 100%);
  }
  > div {
    width: 120px;
    height: 126.7px;
    border: solid 1px $main;
  }
}

section {
  font-size: 0.9rem;
  padding: 1rem;
  article {
    button {
      border-radius: 1px;
      border-width: 0;
      padding: 1em;
      margin: 1em 0;
      background-color: $main;
      color: white;
    }
  }
  &:first-child {
    background-color: $bg;
  }
}

.eco {
  background-color: $main;
  color: $bg;
  padding: 1em;
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

main > footer {
  nav {
    font-size: 0.6em;
    color: beige;
    ul li {
      display: inline-block;
      margin-right: 1em;
    }
  }
  .payment {
    @include flexy();
    width: 30%;
    margin: 0;
    padding: 0.5em 0;
    div {
      width: 50px;
      margin-right: 0.5em;
      border-radius: 4px;
      overflow: hidden;
      &:last-child {
        margin: 0;
      }
    }
  }
}

main {
  > footer {
    background-color: $main;
    padding: 1em;
    color: white;
    section:first-child {
      background-color: $main;
      padding: 0;
      @include flexy(wrap);
      p {
        @include flexy();
        margin: 0 0 0.66em;
      }
    }
  }
  + footer {
    background-color: black;
    padding: 5em;
    color: white;
    font-size: 0.5em;
    ul {
      @include flexy();
      @include justify();
    }
  }
}

article > aside {
  margin: 0 0 2em;
  > a {
    display: block;
    img {
      width: 100%;
      display: block;
    }
  }
}

@keyframes services {
  17% {
    transform: translateX(-0%);
  }
  20% {
    transform: translateX(-100%);
  }
  37% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  57% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  77% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-400%);
  }
  97% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-500%);
  }
}

@keyframes mainy {
  5% {
    transform: translateX(-0%);
  }
  6% {
    transform: translateX(-100%);
  }
  11% {
    transform: translateX(-100%);
  }
  12% {
    transform: translateX(-200%);
  }
  17% {
    transform: translateX(-200%);
  }
  18% {
    transform: translateX(-300%);
  }
  23% {
    transform: translateX(-300%);
  }
  24% {
    transform: translateX(-400%);
  }
  29% {
    transform: translateX(-400%);
  }
  30% {
    transform: translateX(-500%);
  }
  35% {
    transform: translateX(-500%);
  }
  36% {
    transform: translateX(-600%);
  }
  41% {
    transform: translateX(-600%);
  }
  42% {
    transform: translateX(-700%);
  }
  47% {
    transform: translateX(-700%);
  }
  48% {
    transform: translateX(-800%);
  }
  53% {
    transform: translateX(-800%);
  }
  54% {
    transform: translateX(-900%);
  }
  59% {
    transform: translateX(-900%);
  }
  60% {
    transform: translateX(-1000%);
  }
  65% {
    transform: translateX(-1000%);
  }
  66% {
    transform: translateX(-1100%);
  }
  71% {
    transform: translateX(-1100%);
  }
  72% {
    transform: translateX(-1200%);
  }
  77% {
    transform: translateX(-1200%);
  }
  78% {
    transform: translateX(-1300%);
  }
  83% {
    transform: translateX(-1300%);
  }
  84% {
    transform: translateX(-1400%);
  }
  89% {
    transform: translateX(-1400%);
  }
  90% {
    transform: translateX(-1500%);
  }
  95% {
    transform: translateX(-1500%);
  }
  96% {
    transform: translateX(-1600%);
  }
  100% {
    transform: translateX(-1600%);
  }
}

@keyframes testimonials {
  30% {
    transform: translateX(-0%);
  }
  33% {
    transform: translateX(-100%);
  }
  63% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-200%);
  }
  97% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}

section:nth-child(3) div {
  @include flexy();
  overflow-x: hidden;
  article {
    @include flex(0, 0, 100%);
    //transition: transform 1s 4s;
    //transform: translateX(-100%);
    animation: services 28s ease-in 1s 2 normal forwards;
  }
}

.testimonials {
  text-align: center;
  div {
    @include flexy();
    overflow-x: hidden;
    article {
      @include flex(0, 0, 100%);
      @include flexy();
      flex-direction: column;
      //transition: transform 1s 4s;
      //transform: translateX(-100%);
      animation: testimonials 28s ease-in 1s 2 normal forwards;
      p {
        margin: auto;
      }
    }
  }
}

section:first-child {
  aside {
    @include flexy();
    overflow-x: hidden;
    border: solid 1px;
    figure {
      @include flex(0, 0, 100%);
      @include flexy();
      flex-direction: column;
      //transition: transform 1s 4s;
      //transform: translateX(-100%);
      animation: mainy 90s ease-in 1s infinite reverse backwards;
    }
  }
}

@media only screen and (min-width: 769px) {
  header {
    nav {
      ul {
        @include flexy();
        @include justify();
      }
    }
  }
  .eco {
    padding: 1em 15%;
    ul {
      @include flexy();
      @include justify(center);
    }
  }
}
