#privacy {
  main {
    section {
      article {
        margin: 0 5rem 1rem 12rem;

        h3 {
            color: $main;
        }
      p {
        a:link,
        a:visited {
          color: $privacy;
        }
      }
      ul a:hover, a:active {
        color: $privacy;
      }
    }

  }
  > h1 {
    margin: 0 0 0 12rem;
    font-size: 2em;
    color: $main;
  }
}
}
