html {
  #services {
    --animps: running;
    section.services {
      background: darken($main, 4%);
      background: linear-gradient(
        0deg,
        $main 0%,
        darken($main, 10%),
        75%,
        $main 100%
      );
      > div {
        @include flexy();
        overflow: hidden;
        article {
          animation-play-state: var(--animps);
          @include flex(0, 0, 100%);
          aside {
            background-position: center;
            background-size: cover;
          }
          figure {
            @include flex(1, 1, 1em);
            img {
              width: 100%;
              max-height: 12em;
              display: block;
              object-fit: cover;
              object-position: center top;
            }
          }
          &.transit {
            transition: transform 0.6s ease-in;
          }
          &:first-child {
            @include prefix(
              animation,
              services 36s ease-in 1s infinite normal forwards,
              o moz webkit
            );
          }
        }
      }
      & + div {
        font-size: 4em;
        color: white;
        background-color: $main;
        text-align: center;
        @include flexy();
        @include justify(space-around);
        padding: 0.2em 1.5em;
        padding-left: calc(100px + 500 * ((100vw - 320px) / (1280 - 320)));
        padding-right: calc(100px + 500 * ((100vw - 320px) / (1280 - 320)));
        margin-top: -1px;
        span {
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $lo;
        }
      }
    }

    .mission {
      padding: 1rem;
      article p:first-child {
        font-family: "Handwritten", cursive;
        text-align: center;
        color: $main;
        font-size: 1.3em;
        //font-size: calc(16px + 2 * ((100vw - 1025px) / (1280 - 1025)));
      }
    }
    &.ran {
      section.services article:nth-child(-n + 6) {
        @include prefix(animation, none, o moz webkit);
      }
      #control span:nth-child(-n + 6) {
        @include prefix(animation, none, o moz webkit);
      }
    }
  } ///

  &.js {
    #services {
      #control span {
        background-color: $lo;
        &.hi {
          background-color: $hi !important;
        }
        section.services div article.transform {
          transform: translateX(-100%);
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  html {
    #services {
      #control {
        span {
          &:first-child {
            @include prefix(
              animation,
              span1 37s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(2) {
            @include prefix(
              animation,
              span2 37s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(3) {
            @include prefix(
              animation,
              span3 37s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(4) {
            @include prefix(
              animation,
              span4 37s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(5) {
            @include prefix(
              animation,
              span5 37s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(6) {
            @include prefix(
              animation,
              span6 37s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
        }
      }
    } //
  }
}

@media only screen and (min-width: 769px) {
  html {
    #services {
      section {
        &.services {
          font-size: 1.2rem;
          div {
            @include flexy();
            column-gap: 4%;
            overflow: hidden;
            article {
              @include flex(1, 0, 48%);
              &:first-child {
                @include prefix(
                  animation,
                  services_mid 36s ease-in 1s infinite normal forwards,
                  o moz webkit
                );
              }
              p {
                padding: 0 2em;
              }
            }
          }
        }
      }
    }

    #services main > section:first-child {
      font-size: 1.005rem;

      article {
        h1 {
          font-size: 3.88em;
        }
        h4 {
          font-size: 1.6225em;
        }
      }
    }

    &.js {
      #services {
        section.services div article.transform {
          transform: translateX(-109%);
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  html #services #control span {
    &:first-child {
      @include prefix(
        animation,
        span11 37s linear 0s infinite normal forwards,
        o moz webkit
      );
    }
    &:nth-child(2) {
      @include prefix(
        animation,
        span12 37s linear 0s infinite normal forwards,
        o moz webkit
      );
    }
    &:nth-child(3) {
      @include prefix(
        animation,
        span13 37s linear 0s infinite normal forwards,
        o moz webkit
      );
    }
    &:nth-child(4) {
      @include prefix(
        animation,
        span14 37s linear 0s infinite normal forwards,
        o moz webkit
      );
    }
    &:nth-child(5) {
      @include prefix(
        animation,
        span15 37s linear 0s infinite normal forwards,
        o moz webkit
      );
    }
  }
}

@media only screen and (min-width: 1025px) {
  html {
    #services {
      h2 {
        font-size: 3.125em;
      }
      section.services {
        div {
          @include flexy();
          column-gap: 3%;
          overflow: hidden;
          article {
            @include flex(1, 0, 31.333%);
            &:first-child {
              @include prefix(
                animation,
                services_max 36s ease-in 1s infinite normal forwards,
                o moz webkit
              );
            }
          }
        }

        #control span {
          &:first-child {
            @include prefix(
              animation,
              span21 37s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(2) {
            @include prefix(
              animation,
              span22 37s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(3) {
            @include prefix(
              animation,
              span23 37s linear 0s infinite normal forwards,
              o moz webkit
            );
          }

          &:nth-child(4) {
            @include prefix(
              animation,
              span24 37s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
        }
      }
    }

    &.js {
      #services {
        section.services div article.transform {
          transform: translateX(-109.5%);
        }
      }
    }
  }
}
