html {
  #services {
    section.services {
      background: darken($main, 4%);
      background: linear-gradient(
        0deg,
        $main 0%,
        darken($main, 10%),
        75%,
        $main 100%
      );
      div {
        article {
          aside {
            background-position: center;
            background-size: cover;
          }
          figure {
            @include flex(1, 1, 1em);
            img {
              width: 100%;
              max-height: 12em;
              display: block;
              object-fit: cover;
              object-position: center top;
            }
          }
          &.transit {
            transition: transform 0.6s ease-in;
          }
        }
      }
    }

    .mission {
      padding: 1rem;
      article p:first-child {
        font-family: "Handwritten", cursive;
        text-align: center;
        color: $main;
        font-size: 1.3em;
        //font-size: calc(16px + 2 * ((100vw - 1025px) / (1280 - 1025)));
      }
    }
  }

  &.no-js {
    section.services article:first-child {
      @include prefix(
        animation,
        services 28s ease-in 1s infinite normal forwards,
        o moz webkit
      );
    }
  }
  &.js {
    #services {
      #control span.hi {
        background-color: white;
      }
      section.services div article.transform {
        transform: translateX(-100%);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  html {
    &.no-js #services {
      #control {
        span {
          &:first-child {
            @include prefix(
              animation,
              span1 29s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(2) {
            @include prefix(
              animation,
              span2 29s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(3) {
            @include prefix(
              animation,
              span3 29s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(4) {
            @include prefix(
              animation,
              span4 29s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(5) {
            @include prefix(
              animation,
              span5 29s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
          &:nth-child(6) {
            @include prefix(
              animation,
              span6 29s linear 0s infinite normal forwards,
              o moz webkit
            );
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  html {
    &.no-js {
      section {
        &.services div {
          article {
            &:first-child {
              @include prefix(
                animation,
                services_mid 28s ease-in 1s infinite normal forwards,
                o moz webkit
              );
            }
          }
        }
      }
    }
    #services main > section:first-child {
      font-size: 1.005rem;

      article {
        h1 {
          font-size: 3.88em;
        }
        h4 {
          font-size: 1.6225em;
        }
      }
    }
    &.js {
      #services {
        section.services div article.transform {
          transform: translateX(-109%);
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  html.no-js #control span {
    &:first-child {
      @include prefix(
        animation,
        span11 29s linear 0s infinite normal forwards,
        o moz webkit
      );
    }
    &:nth-child(2) {
      @include prefix(
        animation,
        span12 29s linear 0s infinite normal forwards,
        o moz webkit
      );
    }
    &:nth-child(3) {
      @include prefix(
        animation,
        span13 29s linear 0s infinite normal forwards,
        o moz webkit
      );
    }
    &:nth-child(4) {
      @include prefix(
        animation,
        span14 29s linear 0s infinite normal forwards,
        o moz webkit
      );
    }
    &:nth-child(5) {
      @include prefix(
        animation,
        span15 29s linear 0s infinite normal forwards,
        o moz webkit
      );
    }
  }
}
@media only screen and (min-width: 1025px) {
  html {
    &.no-js {
      section.services div {
        article {
          &:first-child {
            @include prefix(
              animation,
              services_max 28s ease-in 1s infinite normal forwards,
              o moz webkit
            );
          }
        }
      }

      #control span {
        &:first-child {
          @include prefix(
            animation,
            span21 29s linear 0s infinite normal forwards,
            o moz webkit
          );
        }
        &:nth-child(2) {
          @include prefix(
            animation,
            span22 29s linear 0s infinite normal forwards,
            o moz webkit
          );
        }
        &:nth-child(3) {
          @include prefix(
            animation,
            span23 29s linear 0s infinite normal forwards,
            o moz webkit
          );
        }

        &:nth-child(4) {
          @include prefix(
            animation,
            span24 29s linear 0s infinite normal forwards,
            o moz webkit
          );
        }
      }
    }
    &.js {
      #services {
        section.services div article.transform {
          transform: translateX(-109.5%);
        }
      }
    }
  }
}
