@keyframes bond {
  0% {
    opacity: 1;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#bond {
  --z: 1;
  width: 50%;
  height: 1.375em;
  margin: auto;
  text-align: center;
  position: relative;
  font-size: 2rem;
  --dur: 85s;
  padding: 5em 0;
  p {
    position: absolute;
    color: white;
    top: 0;
    width: 100%;
    height: 100%;
    //animation: bond var(--dur) ease infinite;
    background: url("../assets/drno.jpg") no-repeat top center/cover;

    &:nth-child(1) {
      animation-delay: calc(var(--dur) * 0.96);
      background-image: url("../assets/mwtgg.jpeg");
    }
    &:nth-child(2) {
      animation-delay: calc(var(--dur) * 0.9);
      background-image: url("../assets/lald.jpeg");
    }
    &:nth-child(3) {
      animation-delay: calc(var(--dur) * 0.84);
      background-image: url("../assets/diamonds.jpeg");
    }
    &:nth-child(4) {
      animation-delay: calc(var(--dur) * 0.78);
      background-image: url("../assets/ohmss.jpeg");
    }

    &:nth-child(5) {
      animation-delay: calc(var(--dur) * 0.72);
      background-image: url("../assets/yolt.jpg");
    }
    &:nth-child(6) {
      animation-delay: calc(var(--dur) * 0.66);
      background-image: url("../assets/tb.jpeg");
    }
    &:nth-child(7) {
      animation-delay: calc(var(--dur) * 0.6);
      background-image: url("../assets/goldfinger.jpg");
    }
    &:nth-child(8) {
      animation-delay: calc(var(--dur) * 0.54);
      background-image: url("../assets/frwl.jpeg");
    }

    &:nth-child(9) {
      animation-delay: calc(var(--dur) * 0.48);
      background-image: url("../assets/tb.jpeg");
    }
    &:nth-child(10) {
      animation-delay: calc(var(--dur) * 0.42);
      background-image: url("../assets/goldfinger.jpg");
    }
    &:nth-child(11) {
      animation-delay: calc(var(--dur) * 0.36);
      background-image: url("../assets/IMG_1478.jpg");
    }
    &:nth-child(12) {
      animation-delay: calc(var(--dur) * 0.3);
      background-image: url("../assets/tidy.jpeg");
    }

    &:nth-child(13) {
      animation-delay: calc(var(--dur) * 0.24);
      background-image: url("../assets/lawn.jpeg");
    }
    &:nth-child(14) {
      animation-delay: calc(var(--dur) * 0.18);
      background-image: url("../assets/hedge.jpeg");
    }
    &:nth-child(15) {
      animation-delay: calc(var(--dur) * 0.12);
      background-image: url("../assets/pruning.jpeg");
    }
    &:nth-child(16) {
      animation-delay: calc(var(--dur) * 0.06);
      background-image: url("../assets/weeding.jpeg");
    }
  }
}
