@keyframes bond {
  0% {
    opacity: 1;
  }
  11% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#bond {
  --z: 1;
  width: 50%;
  height: 1.375em;
  margin: auto;
  text-align: center;
  position: relative;
  font-size: 2rem;
  --dur: 72s;
  padding: 5em 0;
  p {
    position: absolute;
    color: white;
    top: 0;
    width: 100%;
    height: 100%;
    animation: bond var(--dur) ease infinite;
    background: url("../assets/drno.jpg") no-repeat top center/cover;

    &:nth-child(1) {
      animation-delay: calc(var(--dur) * 0.88);
      background-image: url("../assets/mwtgg.jpeg");
    }
    &:nth-child(2) {
      animation-delay: calc(var(--dur) * 0.77);
      background-image: url("../assets/lald.jpeg");
    }
    &:nth-child(3) {
      animation-delay: calc(var(--dur) * 0.66);
      background-image: url("../assets/diamonds.jpeg");
    }
    &:nth-child(4) {
      animation-delay: calc(var(--dur) * 0.55);
      background-image: url("../assets/ohmss.jpeg");
    }

    &:nth-child(5) {
      animation-delay: calc(var(--dur) * 0.44);
      background-image: url("../assets/yolt.jpg");
    }
    &:nth-child(6) {
      animation-delay: calc(var(--dur) * 0.33);
      background-image: url("../assets/tb.jpeg");
    }
    &:nth-child(7) {
      animation-delay: calc(var(--dur) * 0.22);
      background-image: url("../assets/goldfinger.jpg");
    }
    &:nth-child(8) {
      animation-delay: calc(var(--dur) * 0.11);
      background-image: url("../assets/frwl.jpeg");
    }
  }
}
