$main: rgb(25,78,39);
$bg: rgb(252, 246, 228);
$privacy: rgb(204, 51, 102);
$hi: white;
$lo: rgba(255, 255, 255, 0.2);
$low: yellow;

$navlist: (
  #home,
  #about,
  #gallery,
  #contact
);

$animdur: 3000ms;
$z: 100;

$run: running;
$pause: paused;
